## [Visual Studio]
.vs/
*.user
*.userosscache
*.sln.docstates

## [Build Artifacts]
bin/
obj/
[Pp]ublish/
Deploy/
ManagerPublish/
publish_output/

## [Custom DesktopServer Artifacts]
# Final installer and compressed files
*.exe
*.zip
*.7z
*.7Z
*.msi
*.cab
*.pdb

# Ignore specific large resources by default, but allow tracking via Git LFS
# in the Resources directories.
*.exe
*.zip
*.7z
*.7Z
!**/Resources/*.exe
!**/Resources/*.zip
!**/Resources/*.7z

# Specific build artifacts and temporary files
*.cache
*.log
temp_apache/
temp_pma/

## [Common OS Files]
Thumbs.db
.DS_Store
